@tailwind base;

.markdown h1 {
  @apply font-display text-green;
}
@tailwind components;

@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css?family=Saira&display=swap");
