@tailwind base;

.markdown h1 {
  @apply font-display;
}

.markdown p {
  @apply font-display text-sm;
}
.markdown code {
  background-color: #272822;
  color: #f8f8f2;
  border-radius: 0.3em;
  padding: 4px 5px 6px;
  white-space: nowrap;
}
@tailwind components;

@tailwind utilities;
body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@import url("https://fonts.googleapis.com/css?family=Saira&display=swap");
